.profile-header {
  width: 100%;
  background-color: #f4f1ec;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.profile-header img {
  width: 100px;
  height: 100px;
  
}

.profile-header h2 {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.5em;
  color: #333;
}

@media (min-width: 1024px) {
  .profile-header {
    flex-direction: column;            
    margin-top: 60px;
    justify-content: center; /* center content vertically */
    width: 100%
  }
}