nav {
  position: fixed;
  top: 0;          /* stick to top of viewport */
  left: 0;         /* align to left edge */
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 2em;
  box-sizing: border-box; /* inner spacing left & right */
  display: flex;
  justify-content: space-between; /* push left/right content apart */
  align-items: center; /* vertically center items */
  z-index: 1000; 
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;

}

.nav-right {
  display: flex;
  flex-direction: column;
 align-items: center;
}

.nav-right p {
  margin-left: 0;
  
}


.nav-right i {
  margin-top: -10px;
  font-size: 1.2em;
  color: red;
}

@keyframes bounce { /*Animate Arrow to bounce*/
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.nav-right i.bounce {
  display: inline-block;
  animation: bounce 0.8s infinite;
}


.bold-word {
  font-weight: bold;
}
@media (max-width: 1024px) {
  nav {
  position: fixed;
  top: 0;          /* stick to top of viewport */
  left: 0;         /* align to left edge */
  height: 120px;
  width: 100%;
  background-color: transparent;
  background-repeat: repeat;
  color: #FFFFFF;
  padding: 0 2em;
  box-sizing: border-box; /* inner spacing left & right */
  display: flex;
  justify-content: space-between; /* push left/right content apart */
  align-items: center; /* vertically center items */
  z-index: 1000; 
  }
}
