.tweets-container {
    width: 100%;
}

/* Single tweet box */
.tweet {
  width: 100%;
  box-sizing: border-box;
  border: 4px solid #545149;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #f4f1ec;
  transition: box-shadow 0.2s ease;
  font-family: 'Source Sans 3', sans-serif;
}

/* Header: flex, push handle to right */
.tweet header {
  display: flex;
  flex-direction: row;   
  justify-content: space-between;  /* pushes .left to left, .handle to right */
  align-items: flex-start;         /* align to the top! */
}
.tweet header .left {
  display: flex;
  flex-direction: row;   /* horizontal */
  align-items: center;   /* vertically align avatar and name */
  gap: 10px;             /* spacing between avatar and name */
}

.tweet header .left img {
  width: 150px;
  height:150px;
  border-radius: 50%;
}

.tweet header .left .name {
  font-weight: normal;
  color: #545149;
}

.tweet header .handle {
  color: #c5c5c5;
}

.tweet p {
  margin-top: -150px;
  font-size: 1.4em;
  padding-bottom:20px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #545149;
  padding-top: 15px;
}

.tweet footer div i {
  margin-left: 10px;
  cursor: pointer;
  color: #545149;
  transition: color 0.2s ease;
}

.tweet:hover {
  box-shadow: 3px 3px 10px rgb(112, 108, 108);
}

.tweet footer div i.fa-flag:hover {
  color: red;
}

.tweet footer div i.fa-retweet:hover {
  color: green;
}

.tweet footer div i.fa-heart:hover {
  color: pink;
}
